# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

packages/

# User-specific files
*.suo
*.user
*.sln.docstates
*.ncrunchsolution

# ReSharper is a .NET coding add-in
_ReSharper*